<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <connectionStrings>
    <add name="app_hub" connectionString="Database=hub;server=localhost;UId=rootsa;Pwd=Najasan1;Port=3307"/>
    <add name="monodoc_1000" connectionString="Database=monofactura_1000;server=localhost;UId=rootsa;Pwd=Najasan1;Port=3307"/>
  </connectionStrings>
  <system.web>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <appSettings/>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>