<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <connectionStrings>
    <add name="monofactura_1000" connectionString="Database=monofactura_1000;server=10.0.0.10;UId=rootsa;Pwd=najasan;port=3307"/>
    <add name="monofactura_hub" connectionString="Database=monofactura_hub;server=10.0.0.10;UId=rootsa;Pwd=najasan;port=3307"/>
    <add name="monofactura_master" connectionString="Database=monofactura_master;server=10.0.0.10;UId=rootsa;Pwd=najasan;port=3307"/>
  </connectionStrings>
  <system.web>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <appSettings/>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>